.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.shadow-lg.fixed-top
  h5.my-0.mr-md-auto.font-weight-normal
    span.d-flex.align-items-center
      img.img-fluid.logo.mr-1(src="./images/favicon.png", alt="Minhgram logo image")
      | MinhGram
  nav.my-2.my-md-0
    a.p-2(href='./index.html', class=(bodyClass === 'home' ? 'text-dark' : '')) Home
    a.p-2(href='./about.html', class=(bodyClass === 'about' ? 'text-dark' : '')) About
    a.p-2(href='./contact.html', class=(bodyClass === 'contact' ? 'text-dark' : '')) Contact



