extends ../_layouts/default

block title
	title Home - Application

block vars
	- var bodyClass = 'home';

block metas
	- var siteAuthor = 'Tej Kahlon'
	- var siteDescription = 'Something...'
	- var facebookSiteName = 'App'
	- var facebookURL = 'https://something.com'
	- var facebookType = 'App'
	- var facebookTitle = 'App'
	- var facebookDescription = 'Something...'
	- var twitterCard = 'App'
	- var twitterTitle = 'Something...'
	- var twitterDescription = 'Something...'
	- var canonicalURL = 'https://something.com'
	- var siteENURL = 'https://something.com/en'
	- var siteFRURL = 'https://something.com/fr'

block content
	include ../_partials/index