include ../includes/navigation/navigation
.page-content
  .container
    .card.p-3.py-sm-3.px-sm-0
      p.m-0.p-0 Home
      hr
      p.m-0.p-0
        a(href="./product.html") Product
include ../includes/blocks/footer