include ../includes/navigation/navigation
.pt-0.pb-3.px-3.px-sm-0.page-content
  .container
    h1.m-0.pt-4.pb-3 Product
    img.page-banner.w-100.rounded.m-0.mb-3(src='https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80' alt='Image')
include ../includes/blocks/footer