footer.pt-4.my-md-5.pt-md-5.border-top
  .row
    .col-12.col-md
      img.mb-2(src='./images/favicon.png' alt='Minhgram logo image' width='32')
      small.d-block.mb-3.text-muted
        | &copy;
        span.current-year.ml-1
    .col-6.col-md
      h5 Features
      ul.list-unstyled.text-small
        li
          a.text-muted(href='./index.html') Pricing
    .col-6.col-md
      h5 Resources
      ul.list-unstyled.text-small
        li
          a.text-muted(href='./contact.html') Contact
    .col-6.col-md
      h5 About
      ul.list-unstyled.text-small
        li
          a.text-muted(href='./about.html') Locations
