doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-36x36.png" sizes="36x36")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-48x48.png" sizes="48x48")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-72x72.png" sizes="72x72")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-96x96.png" sizes="96x96")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-144x144.png" sizes="144x144")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-256x256.png" sizes="256x256")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-384x384.png" sizes="384x384")
        link(rel="icon", type="image/png", href="images/icons/android-chrome-512x512.png" sizes="512x512")
        link(rel="apple-touch-icon", sizes="57x57", href="images/icons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="images/icons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="images/icons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="images/icons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="images/icons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="images/icons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="images/icons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="images/icons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="images/icons/apple-touch-icon-180x180.png")
        link(rel="apple-touch-icon", sizes="180x180", href="images/icons/apple-touch-icon.png")
        link(rel="icon", type="image/png", href="images/icons/favicon-16x16.png" sizes="16x16")
        link(rel="icon", type="image/png", href="images/icons/favicon-32x32.png" sizes="32x32")
        link(rel="shortcut icon", href="images/icons/favicon.ico")
        link(rel="manifest", href="images/icons/manifest.json")
        link(rel="mask-icon", href="images/icons/safari-pinned-tab.svg", color="#43BCCD")
        meta(name="apple-mobile-web-app-title", content="Application")
        meta(name="application-name", content="Application")
        meta(name="msapplication-TileColor", content="#43BCCD")
        meta(name="theme-color", content="#ffffff")
        meta(name="msapplication-TileImage", content="images/icons/mstile-70x70.png")
        meta(name="msapplication-TileImage", content="images/icons/mstile-144x144.png")
        meta(name="msapplication-TileImage", content="images/icons/mstile-150x150.png")
        meta(name="msapplication-TileImage", content="images/icons/mstile-310x150.png")
        meta(name="msapplication-TileImage", content="images/icons/mstile-310x310.png")
        link(rel="stylesheet", href="fonts/fonts.css", media="screen")
        link(rel="stylesheet", href="css/bootstrap.css", media="screen")
        link(rel="stylesheet", href="css/bootstrap-select.min.css", media="screen")
        link(rel="stylesheet", href="css/tablesaw.css", media="screen")
        link(rel="stylesheet", href="css/style.css", media="screen")
        script(src="js/modernizr.min.js")
        <!--[if lt IE 9]>
        script(src="js/html5shiv.min.js")
        script(src="js/respond.min.js")
        <![endif]-->
        block title
    body
        block content
        script(src="js/jquery.min.js")
        script(src="js/jquery-ui.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/bootstrap-select.js")
        script(src="js/tablesaw.js")
        script(src="js/tablesaw-init.js")
        script(src="js/bloodhound.min.js")
        script(src="js/typeahead.bundle.min.js")
        script(src="js/custom.js")
