include ../_includes/menus/navigation
section.py-5
  .container
    .row
      .col.col-12
        h1.h2(role="heading")
          | Providing professional 
          strong Graphic Design 
          | that works for you is our mission
        p
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim nam nisi voluptatum culpa numquam, magnam obcaecati tempora. Pariatur culpa nihil, est enim nesciunt non, ipsam distinctio officia nostrum ad repellat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti corporis ullam amet id non, velit tempora aliquam est, ex natus accusamus. Rem accusamus magnam laborum totam esse et! Repudiandae.
    .row
      .col.col-12.col-sm-6
        article
          h2.h4(role="heading")
            | Branding &amp; Identity
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim nam nisi voluptatum culpa numquam, magnam obcaecati tempora. Pariatur culpa nihil, est enim nesciunt non, ipsam distinctio officia nostrum ad repellat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti corporis ullam amet id non, velit tempora aliquam est, ex natus accusamus. Rem accusamus magnam laborum totam esse et! Repudiandae.
      .col.col-12.col-sm-6
        article
          h2.h4(role="heading")
            | Branding &amp; Identity
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim nam nisi voluptatum culpa numquam, magnam obcaecati tempora. Pariatur culpa nihil, est enim nesciunt non, ipsam distinctio officia nostrum ad repellat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti corporis ullam amet id non, velit tempora aliquam est, ex natus accusamus. Rem accusamus magnam laborum totam esse et! Repudiandae.
      .col.col-12.col-sm-6
        article
          h2.h4(role="heading")
            | Stationery &amp; Signage
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim nam nisi voluptatum culpa numquam, magnam obcaecati tempora. Pariatur culpa nihil, est enim nesciunt non, ipsam distinctio officia nostrum ad repellat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti corporis ullam amet id non, velit tempora aliquam est, ex natus accusamus. Rem accusamus magnam laborum totam esse et! Repudiandae.
      .col.col-12.col-sm-6
        article
          h2.h4(role="heading")
            | Editorial Design
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim nam nisi voluptatum culpa numquam, magnam obcaecati tempora. Pariatur culpa nihil, est enim nesciunt non, ipsam distinctio officia nostrum ad repellat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti corporis ullam amet id non, velit tempora aliquam est, ex natus accusamus. Rem accusamus magnam laborum totam esse et! Repudiandae.
      .col.col-12.col-sm-6
        article
          h2.h4(role="heading")
            | Email Marketing Design
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim nam nisi voluptatum culpa numquam, magnam obcaecati tempora. Pariatur culpa nihil, est enim nesciunt non, ipsam distinctio officia nostrum ad repellat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti corporis ullam amet id non, velit tempora aliquam est, ex natus accusamus. Rem accusamus magnam laborum totam esse et! Repudiandae.
    .row
      .col.col-12
        a.btn.btn-primary.btn-lg(href="#", target="_blank", rel="noreferrer noopener")
          | View portfolio
.contact.position-relative
  a.stretched-link.link.bg-dark.d-block.p-5.text-center(href="/contact.html", target="_blank", rel="noreferrer noopener")
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis in asperiores consequatur totam nisi dolor, quaerat quasi enim ipsam recusandae rerum inventore ipsum, veniam quidem maiores ab tempora quod exercitationem!
include ../_includes/sections/footer