include ../_includes/menus/navigation
include ../_includes/sections/callout-default
include ../_includes/sections/services
include ../_includes/sections/projects
include ../_includes/sections/clients
include ../_includes/sections/footer