include ../_includes/menus/navigation
.project--banner(style="background-image:url('https://placekitten.com/1000/400')")
section.py-5
  .container
    .row
      .col.col-12.col-sm-6
        h1.h2(role="heading")
          | Project Name
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/401", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/402", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/403", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/404", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/405", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/406", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/407", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/408", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/409", alt="Project screenshot")
          figcaption.sr-only Project screenshot
        figure
          img.rounded.img-fluid.w-100(src="https://placekitten.com/1000/410", alt="Project screenshot")
          figcaption.sr-only Project screenshot
      .col.col-12.col-sm-6
        aside.affix
          .btn-group.mb-3
            a.btn.btn-primary.btn-sm(href="#", target="_blank", rel="noreferrer noopener")
              span.mr-2
                i.fa.fa-arrow-left(aria-hidden="true")
              | Previous
            a.btn.btn-secondary.btn-sm(href="#", target="_blank", rel="noreferrer noopener")
              span.mr-2
                i.fa.fa-home(aria-hidden="true")
              | All Projects
            a.btn.btn-info.btn-sm(href="#", target="_blank", rel="noreferrer noopener")
              span.mr-2
                i.fa.fa-arrow-right(aria-hidden="true")
              | Next
          p
            strong Client:
            br
            | Client Name
          p
            strong Role:
            br
            | Web Development, Web Design, Graphic Design
          p
            strong Industry:
            br
            | Technology, Finance
          p
            strong Website:
            br
            a.btn.btn-primary.btn-sm(href="#", target="_blank", rel="noreferrer noopener")
              span.mr-2
                i.fa.fa-external-link(aria-hidden="true")
              | View project
include ../_includes/sections/footer