include ../_includes/menus/navigation
section.py-5
  .container
    .row
      .col.col-12
        h1.h2(role="heading")
          | We offer 
          strong Web Hosting 
          | services that are fast, secure and cost-efficient
        p
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque at illo deserunt nulla quae explicabo necessitatibus fugit? Nam dolore consequuntur animi saepe unde. Tenetur temporibus ipsa minus aspernatur, voluptas laboriosam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo rem sed culpa earum sunt? Optio iusto labore, exercitationem voluptatum, ad consequatur dolorem, fuga cum incidunt fugiat minus nesciunt odio alias.
    .row
      .col.col-12
        article
          h1.h1.mb-0(role="heading")
            | $425.00
          p.h4
            | per year
          p
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque at illo deserunt nulla quae explicabo necessitatibus fugit? Nam dolore consequuntur animi saepe unde. Tenetur temporibus ipsa minus aspernatur, voluptas laboriosam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo rem sed culpa earum sunt? Optio iusto labore, exercitationem voluptatum, ad consequatur dolorem, fuga cum incidunt fugiat minus nesciunt odio alias.
    hr
    .row
      .col.col-12.col-sm-6
        article
          h2.h4(role="heading")
            | Our Web Hosting Includes:
          ul.list-group
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Private Hosting Account access
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Unlimited Bandwidth
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Unlimited Space
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Daily Backup + Database
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | 30 Days of Backups on File
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Hosting Support
      .col.col-12.col-sm-6
        article
          h2.h4(role="heading")
            | Firewall Protection Includes:
          ul.list-group
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Monitoring Platform
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Malware Distribution
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Blacklisting Incidents
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | SEO Spam
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Phishing Lure Pages
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Whois Changes
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | DNS Changes
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Improved Site Performance
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | SSL Certificates
            li.list-group-item
              span.mr-2
                i.fa.fa-check(aria-hidden="true")
              | Advanced DDoS Protection
    .row
      .col.col-12
        a.btn.btn-primary.btn-lg(href="#", target="_blank", rel="noreferrer noopener")
          | Sign up now
.contact.position-relative
  a.stretched-link.link.bg-dark.d-block.p-5.text-center(href="/contact.html", target="_blank", rel="noreferrer noopener")
    | Like what you see? Let's work on your next project together!
include ../_includes/sections/footer