extends ../_layouts/default

block title
	title About - Minhgram

block vars
	- var bodyClass = 'about';

block metas
	- var siteAuthor = 'Tram Nguyen'
	- var siteDescription = 'Minhgram is an online service that allows purchase of consumer medical products exclusively for Vietnamese citizen.'
	- var facebookSiteName = 'Minhgram'
	- var facebookURL = 'https://something.com'
	- var facebookType = 'Minhgram'
	- var facebookTitle = 'Minhgram'
	- var facebookDescription = 'Minhgram is an online service that allows purchase of consumer medical products exclusively for Vietnamese citizen.'
	- var twitterCard = 'Minhgram'
	- var twitterTitle = 'Minhgram is an online service that allows purchase of consumer medical products exclusively for Vietnamese citizen.'
	- var twitterDescription = 'Minhgram is an online service that allows purchase of consumer medical products exclusively for Vietnamese citizen.'
	- var canonicalURL = 'https://something.com'
	- var siteENURL = 'https://something.com/en'
	- var siteFRURL = 'https://something.com/fr'

block content
	include ../_partials/about
