include ../_includes/menus/navigation
.jumbotron
  .container
    h1.display-4 About MinhGram
    p
      | With hundreds of nutrition products in the Canadian market, it’s best to give audience in Vietnam, a dedicated platform where they can engage directly in making purchases. MinhGram is one-stop unique online service that allow consumers in Vietnam to purchase Canadian manufactured vitamins & supplements.
.container
  .row
    .col-md-4
      h2
        span.mr-2
          i.fa.fa-truck(aria-hidden="true")
        | Locations
      p
        | We are operating from two locations across the globe. Our main business is located in Toronto, Ontario, Canada and secondary office is located in Tuy Hoa, Vietnam.
    .col-md-4
      h2
        span.mr-2
          i.fa.fa-dollar(aria-hidden="true")
        | Pricing
      p
        | All the prices are standardized in terms of Vietnamese currency. The prices visible on the home page are adjusted accordingly by considering shipping, handling and other tiers.
    .col-md-4
      h2
        span.mr-2
          i.fa.fa-user(aria-hidden="true")
        | Careers
      p
        | At the moment, we are not hiring. Please check back later for more information. Our website will be launched soon in Vietnamese language so consumers can easily read our terms, documentations and product listing.
  include ../_includes/blocks/footer
