include ../_includes/menus/navigation
.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  h1.display-4 Hurry! Check out our new stock..
  p.lead
    | With hundreds of nutrition products in the Canadian market, it’s best to give audience in Vietnam, a dedicated platform where they can engage directly in making purchases. MinhGram is one-stop unique online service that allow consumers in Vietnam to purchase Canadian manufactured vitamins & supplements.
.container
  .card-deck.mb-3
    .card.mb-4.shadow-lg
      .card-header
        h4.my-0.font-weight-normal Centrum&reg; For Men/Women
      .card-body
        h1.card-title.pricing-card-title.mb-0
          | $14
          sup
            small.text-muted 97
        p.text-muted.mb-0 *Shipping included
        ul.list-group.list-group-flush.mb-0.mt-3
          li.list-group-item.px-0 Centrum Men is a complete multivitamin formulated to help address nutritional gaps of men.
          li.list-group-item.px-0 Vitamin and mineral supplement. Always read and follow the label.
          li.list-group-item.px-0 Centrum calculation based in part on data reported by Nielsen through its Market Track Service for the Adult Vitamins Category for the 52-week period ending 4/28/2018, for NAT GBMMDR excl. NFLD according to the Nielsen standard product hierarchy. Copyright © 2018, The Nielsen Company Based on IMS Health Data dated March 2018
          li.list-group-item.px-0 Includes 1 package containing Centrum Men (90 pack) multivitamin/multimineral supplement tablets
          li.list-group-item.px-0 Helps support the immune system, maintain eyesight and proper muscle function, and also helps to maintain the body’s ability to metabolize nutrients
          li.list-group-item.px-0 With the antioxidant Selenium, as well as more B Vitamins and Zinc than Centrum Forte® Essentials
          li.list-group-item.px-0 Centrum is Canada's #1 Selling Multivitamin brand
          li.list-group-item.px-0 Centrum is Canada's #1 doctor recommended multivitamin brand
      .card-footer
        a.btn.btn-block.btn-outline-primary(href='./contact.html') Contact Dealer
    .card.mb-4.shadow-lg
      .card-header
        h4.my-0.font-weight-normal Webber Naturals&reg;
      .card-body
        h1.card-title.pricing-card-title.mb-0
          | $25
          sup
            small.text-muted 97
        p.text-muted.mb-0 *Shipping included
        p.mt-3.pt-3.border-top Glucosamine Chondroitin and MSM from Webber Naturals treats the underlying basis of osteoarthritis and helps rebuild painful joints. For the relief of joint pain associated with osteoarthritis and protection against the deterioration of cartilage.
      .card-footer
        a.btn.btn-block.btn-outline-primary(href='./contact.html') Contact Dealer
    .card.mb-4.shadow-lg
      .card-header
        h4.my-0.font-weight-normal Jamieson Glucosamine
      .card-body
        h1.card-title.pricing-card-title.mb-0
          | $28
          sup
            small.text-muted 97
        p.text-muted.mb-0 *Shipping included
        ul.list-group.list-group-flush.mb-0.mt-3
          li.list-group-item.px-0 Jamieson Glucosamine Chondroitin MSM 1,300 mg is a high-potency formula that supports the maintenance of joint and cartilage health, while also providing relief from joint pain associated with osteoarthritis.
          li.list-group-item.px-0 Helps to relieve symptoms of osteoarthritis
          li.list-group-item.px-0 Protects against cartilage deterioration
          li.list-group-item.px-0 Offers joint pain relief
          li.list-group-item.px-0 Helps support the maintenance of healthy joints
      .card-footer
        a.btn.btn-block.btn-outline-primary(href='./contact.html') Contact Dealer
  include ../_includes/blocks/footer
