@import '../../styles/variables';

.header {
  padding: 1.25rem;
  background: $eggplant;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  font-size: 5rem;
  margin: 0 0 .5rem;
}