/* Sticker Component */

.sticker {
  position: absolute;
  top: -2.25rem;
  z-index: 1;
  display: flex;
  padding: 1.25rem;
  border-radius: 4px;
  align-items: center;
  text-transform: uppercase;
  background: var(--color-white);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.25);
}

.sticker svg {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.sticker__text {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .sticker {
    top: -2.75rem;
  }
  .sticker svg {
    font-size: 3rem;
    margin-right: 0.75rem;
  }
}