/* Sticker Component */

.sticker {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #4c4b63;
  padding: 1rem;
  background: rgba(255,255,255,0.2);
}

.sticker--light {
  background: rgba(0,0,0,0.05);
}

.sticker__text {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .sticker {
    top: 0;
  }
}