header.navigation.px-3.px-sm-0.bg-dark-white
  .container.navigation__wrap
    nav.navigation__left
      button.navigation__toggle(data-toggle='secondary')
        span
          i.fa.fa-microphone(aria-hidden='true')
        span.sr-only Secondary Menu
      ul.navigation__list.d-none.m-0.p-0.list-unstyled
        p.m-0.p-0 Left Navigation
    a(href='./index.html')
      p.m-0.mb-0 Logo
    .navigation__right
      button.navigation__toggle(data-toggle='primary')
        span
          i.fa.fa-lightbulb-o(aria-hidden='true')
        span.sr-only Primary Menu
      ul.navigation__list.d-none.m-0.p-0.list-unstyled
        p Right Navigation
