// THEME.scss

body {
  padding-top: 6rem;
  @media #{$medium__up} {
    padding-top: 3.5rem;
  }
}

.site-banner {
  color: white;
  background-color: black;
  border-radius: 0;
}

.logo {
  max-height: 1.5rem;
}
