<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Markham Food Bank
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/index.css")
    link(rel="icon", href="./images/favicon.png")
  body
    .alert.alert-warning.alert-dismissible.fade.show.text-center.m-3(role='alert')
      | Make a difference in your community by donating to the 
      strong Markham Food Bank 
      | today! Call us at 
      strong (905) 472-2437
      | .
      button.close(type='button' data-dismiss='alert' aria-label='Close')
        span(aria-hidden='true') &times;
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
      a.navbar-brand(href='#') Markham Food Bank
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='http://markhamfoodbank.ca/', target="_blank", rel="noreferrer noopener")
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='http://markhamfoodbank.ca/what-we-offer', target="_blank", rel="noreferrer noopener") What we offer
          li.nav-item
            a.nav-link(href='http://markhamfoodbank.ca/how-you-can-help', target="_blank", rel="noreferrer noopener") How you can help
          li.nav-item
            a.nav-link(href='http://markhamfoodbank.ca/donate', target="_blank", rel="noreferrer noopener") Donate
          li.nav-item
            a.nav-link(href='http://markhamfoodbank.ca/contact', target="_blank", rel="noreferrer noopener") Contact
    .container-fluid
      .row
        .col.col-12
          .jumbotron.jumbotron-fluid.banner-bg
            .container.p-3.text-white.text-break
              h1.display-4 Welcome to the Markham Food Bank
              p.lead
                | The Markham Food Bank is a registered non-profit charity working to alleviate food insecurity for Markham community members.
    .container.my-3
      h1(role="heading") About the Markham Food Bank
      hr
      .row
        .col.col-12.col-sm-6
          article
            h2(role="heading") Who We Are
            figure
              img.img-fluid(src="//tinyurl.com/y3w8lx5w", alt="Who we are image")
              figcaption.sr-only Who we are
            p The Markham Food Bank is a registered non-profit charity working to alleviate food insecurity for Markham community members.
        .col.col-12.col-sm-6
          article
            h2(role="heading") Our Mission
            figure
              img.img-fluid(src="//tinyurl.com/yy3jbuod", alt="Our Mission image")
              figcaption.sr-only Who we are
            p At the Markham Food Bank, we strive to create a welcoming environment of fairness and equality for everyone who walks through our doors.
        .col.col-12.col-sm-6
          article
            h2(role="heading") What We Offer
            figure
              img.img-fluid(src="//tinyurl.com/y6253ckl", alt="What We Offer image")
              figcaption.sr-only Who we are
            p
              | With the help of volunteers and donations, the Markham Food Bank offers food supplies and other basic necessities to community members. Learn more about what we offer 
              a(href="http://markhamfoodbank.ca/what-we-offer", target="_blank", rel="noreferrer noopener") here
              | .
        .col.col-12.col-sm-6
          article
            h2(role="heading") Get Involved
            figure
              img.img-fluid(src="//tinyurl.com/yyomty7h", alt="Get Involved image")
              figcaption.sr-only Who we are
            p
              | The ways to to help the Markham Food Bank are only limited to your imagination! Visit our 
              a(href="http://markhamfoodbank.ca/how-you-can-help", target="_blank", rel="noreferrer noopener") How You Can Help 
              | page to learn more about getting involved.
    .container-fluid
      .row
        .col.col-12
          .jumbotron.jumbotron-fluid.reviews-bg
            .container.p-3
              blockquote.display-4.text-white.text-break
                | “I HAVE FOUND THAT AMONG ITS OTHER BENEFITS, GIVING LIBERATES THE SOUL OF THE GIVER.”
                cite MAYA ANGELOU
              .text-center
                a.btn.btn-primary.btn-lg(href="https://www.canadahelps.org/en/dn/9826", target="_blank", rel="noreferrer noopener") Donate to the Markham Food Bank Today
    .container.my-3
      h1(role="heading") About the Markham Food Bank
      hr
      .row
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y4sbp6fc", alt="No frills image")
            figcaption.sr-only No frills
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/yy4y9lkd", alt="BDO image")
            figcaption.sr-only BDO
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y5fdjyuz", alt="CostCo image")
            figcaption.sr-only CostCo
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y3s4qs2a", alt="Longos image")
            figcaption.sr-only Longos
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y4drw73f", alt="Loblaws image")
            figcaption.sr-only Loblaws
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y3f4p4ms", alt="Markham image")
            figcaption.sr-only Markham
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y2qw8cnu", alt="Logo image")
            figcaption.sr-only Logo
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y6ygpqed", alt="Logo image")
            figcaption.sr-only Logo
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/yxhkubwn", alt="Logo image")
            figcaption.sr-only Logo
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y3bstdc5", alt="Logo image")
            figcaption.sr-only Logo
        .col.col-12.col-sm-4.col-md-3.col-lg-2
          figure.mb-3
            img.img-fluid(src="//tinyurl.com/y3b387s9", alt="Logo image")
            figcaption.sr-only Logo
    section
      .container-fluid
        .row
          .col.col-12.col-sm-6
            h1 Contact Us
            h2 Visit Us Today, No Appointment Needed
            p
              | Clients can visit the Food Bank during our community hours listed below. For donation or volunteer hours and information, please visit our 
              a(href="//tinyurl.com/y5vw7fay", target="_blank", rel="noreferrer noopener") How You Can Help 
              | page.
            p
              strong Note: 
              | when visiting the Food Bank, please arrive at least 15 minutes before closing.
            p
              | You can also 
              a(href="https://www.facebook.com/markhamfoodbank/", target="_blank", rel="noreferrer noopener") visit us on Facebook 
              | for information and updates on upcoming fundraisers and events.
            h2 Markham Food Bank
            p 11-190 Bullock Drive, Markham, ON L3P7N3, CA
            a(href="tel:9054722437", target="_blank", rel="noreferrer noopener") (905) 472-2437
            h2 Hours
            .table-responsive
              table.table.table-hover.table-dark.table-striped.table-bordered.w-100
                tr
                  td Mon
                  td Closed
                tr
                  td Tue
                  td 6:00 pm – 7:45 pm
                tr
                  td Wed
                  td Closed
                tr
                  td Thu
                  td 12:30 pm – 2:15 pm
                tr
                  td Fri
                  td Closed
                tr
                  td Sat
                  td 9:00 am – 10:45 am
                tr
                  td Sun
                  td Closed
          .col.col-12.col-sm-6
            aside.h-100.py-3
              .mapouter
                .gmap_canvas
                  iframe#gmap_canvas(width='100%' height='100%' src='https://maps.google.com/maps?q=markham%20food%20bank&t=&z=13&ie=UTF8&iwloc=&output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0')
                style.
                  .mapouter{position:relative;text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}
    hr
    footer(role="footer")
      .container
        .row
          .col.col-12.col-sm-6
            p Copyright © 2018 Markham Food Bank - All Rights Reserved.
          .col.col-12.col-sm-6.text-md-right
            p Powered by GoDaddy GoCentral Website Builder
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="./js/app.min.js")