.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
  }

  tbody + tbody {
    border-top: 2px solid #eceeef;
  }

  .table {
    background-color: #fff;
  }
}

.table-sm {
  th,
  td {
    padding: 0.3rem;
  }
}

.table-bordered {
  border: 1px solid #eceeef;

  th,
  td {
    border: 1px solid #eceeef;
  }

  thead {
    th,
    td {
      border-bottom-width: 2px;
    }
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active {
  background-color: rgba(0, 0, 0, 0.075);

  > {
    th,
    td {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);

  > {
    td,
    th {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}

.table-success {
  background-color: #dff0d8;

  > {
    th,
    td {
      background-color: #dff0d8;
    }
  }
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;

  > {
    td,
    th {
      background-color: #d0e9c6;
    }
  }
}

.table-info {
  background-color: #d9edf7;

  > {
    th,
    td {
      background-color: #d9edf7;
    }
  }
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;

  > {
    td,
    th {
      background-color: #c4e3f3;
    }
  }
}

.table-warning {
  background-color: #fcf8e3;

  > {
    th,
    td {
      background-color: #fcf8e3;
    }
  }
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;

  > {
    td,
    th {
      background-color: #faf2cc;
    }
  }
}

.table-danger {
  background-color: #f2dede;

  > {
    th,
    td {
      background-color: #f2dede;
    }
  }
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;

  > {
    td,
    th {
      background-color: #ebcccc;
    }
  }
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;

  th,
  td,
  thead th {
    border-color: #fff;
  }

  &.table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &.table-bordered {
    border: 0;
  }
}
