extends ../_layouts/default

block title
	title Web hosting services - We help non-profit organizations, small to medium businesses develop their online presence.

block vars
	- var bodyClass = 'services--web-hosting';

block metas
	- var siteAuthor = 'StyleShop team'
	- var siteDescription = 'StyleShop - We help non-profit organizations, small to medium businesses develop their online presence.'
	- var facebookSiteName = 'StyleShop'
	- var facebookURL = 'https://sharp-bose-b7750c.netlify.com/'
	- var facebookType = 'StyleShop'
	- var facebookTitle = 'StyleShop'
	- var facebookDescription = 'StyleShop - We help non-profit organizations, small to medium businesses develop their online presence.'
	- var twitterCard = 'StyleShop'
	- var twitterTitle = 'StyleShop'
	- var twitterDescription = 'StyleShop'
	- var canonicalURL = 'https://sharp-bose-b7750c.netlify.com/'
	- var siteENURL = 'https://sharp-bose-b7750c.netlify.com/'
	- var siteFRURL = 'https://sharp-bose-b7750c.netlify.com/'

block content
	include ../_partials/web-hosting
