article.py-5.bg-dark
  .container
    .row
      .col.col-12
        h1.h1.text-break.text-white(role="heading")
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta aperiam possimus tenetur nemo voluptatem dolorem, numquam similique impedit vitae, repellat quaerat nulla, adipisci dolores. Rerum nesciunt modi animi ut eveniet.
        p.text-white
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quis placeat provident non vel facere. Cum aperiam rem, totam expedita molestiae voluptatibus facere iusto vitae esse nostrum, nesciunt odio in! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui modi facilis similique assumenda perspiciatis nesciunt animi. Nam eaque corrupti in sequi eligendi architecto, quasi impedit quas veniam perspiciatis cumque rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fuga doloremque aut corporis adipisci? Atque beatae doloribus corrupti cumque aliquid! Aspernatur sint aperiam corrupti, distinctio vel recusandae saepe natus magnam.
        .btn-group
          a.btn.btn-primary(href="/project.html", rel="noreferrer noopener")
            | View our work
          a.btn.btn-secondary(href="/contact.html", rel="noreferrer noopener")
            | Contact us