article.py-5.bg-dark
  .container
    .row
      .col.col-12
        h1.h1.text-break.text-white(role="heading")
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quibusdam error alias fugiat omnis exercitationem maiores dolorem ducimus beatae, sit vero maxime quia aperiam doloremque ipsum repellat molestias nobis. Eum.
        p
          span.mx-1.badge.badge-primary Design
          span.mx-1.badge.badge-secondary Development
          span.mx-1.badge.badge-success Hosting
          span.mx-1.badge.badge-warning SEO
          span.mx-1.badge.badge-danger Digital
        p.text-white
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, vel perspiciatis! Placeat exercitationem aspernatur optio eveniet dignissimos perferendis praesentium delectus odit illum? Natus sed quisquam nihil eveniet, vitae esse repudiandae? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo similique incidunt accusamus reprehenderit, sequi delectus veniam, repellat sunt non, consequatur unde doloribus? Quisquam consequuntur minima, tempora neque quia ut nostrum!
        a.btn.btn-primary(href="/about.html", rel="noreferrer noopener")
          | Learn more