section.py-5
  .container
    .row
      .col.col-12
        h1.h2.text-center.text-break Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        p.text-center.text-break Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis blanditiis laboriosam magni reprehenderit dicta, ratione numquam voluptatibus voluptate nesciunt libero hic fugiat labore illum nostrum assumenda cum harum dolorem?
    .row
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/200/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/201/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/202/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/203/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/204/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/205/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/206/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/207/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/208/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/209/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/210/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/211/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/212/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X
      .col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
        a.link.stretched-link(href="mailto:info@styleshop.co", target="_blank", rel="noreferrer noopener")
          figure
            img.img-fluid.w-100.rounded(src="https://placekitten.com/213/120", alt="Logo picture of Client X")
            figcaption.sr-only Client X