section.bg-dark
  .row.no-gutters
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/400')")
        h1.box__child.h4.text-white(role="heading") Tej Kahlon 0
        p.box__child
          span.badge.badge-primary.mx-1 Account Manager
          span.badge.badge-secondary.mx-1 Taxes
          span.badge.badge-success.mx-1 Finances
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/401')")
        h1.box__child.h4.text-white(role="heading") Tej Kahlon 1
        p.box__child
          span.badge.badge-primary.mx-1 Frontend Developer
          span.badge.badge-secondary.mx-1 HTML / CSS
          span.badge.badge-success.mx-1 JavaScript
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/402')")
        h1.box__child.h4.text-white(role="heading") Tej Kahlon 2
        p.box__child
          span.badge.badge-primary.mx-1 Fullstack Developer
          span.badge.badge-secondary.mx-1 Director
          span.badge.badge-success.mx-1 Backend Developer
    .col.col-12.col-sm-6.col-md-8
      .d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3.bg-white
        p.h2
          em Contact us today and let’s work on something exciting!
          a.stretched-link(href="/contact.html")
            span.sr-only Contact us
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/403')")
        h1.box__child.h4.text-white(role="heading") Tej Kahlon 3
        p.box__child
          span.badge.badge-primary.mx-1 Sales Manager
          span.badge.badge-secondary.mx-1 Auditing
          span.badge.badge-success.mx-1 Business
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/404')")
        h1.box__child.h4.text-white(role="heading") Tej Kahlon 4
        p.box__child
          span.badge.badge-primary.mx-1 Network Engineer
          span.badge.badge-secondary.mx-1 IoT
          span.badge.badge-success.mx-1 Security
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/405')")
        h1.box__child.h4.text-white(role="heading") Tej Kahlon 5
        p.box__child
          span.badge.badge-primary.mx-1 Marketing Head
          span.badge.badge-secondary.mx-1 Sales
          span.badge.badge-success.mx-1 Business
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/406')")
        h1.box__child.h4.text-white(role="heading") Tej Kahlon 6
        p.box__child
          span.badge.badge-primary.mx-1 Director
          span.badge.badge-secondary.mx-1 Network Analyst
          span.badge.badge-success.mx-1 IoT