footer.footer.py-5(role="footer")
  .container
    .row
      .col.col-12.col-md-6
        section
          figure
            img.img-fluid.footer__logo(src="images/favicon.svg", alt="Logo picture of StyleShop")
            figcaption.sr-only Logo picture of StyleShop
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio perferendis distinctio quae! Unde, vero mollitia. Rerum suscipit, consequatur nisi quis eaque ratione quia accusantium repellendus, doloremque sed earum voluptates esse.
          figure
            img.img-fluid.mr-md-2.ml-md-0.my-md-2.footer__partner(src="images/windows.svg", alt="Exclusive partner of StyleShop")
            img.img-fluid.m-md-2.footer__partner(src="images/ubuntu.png", alt="Exclusive partner of StyleShop")
            img.img-fluid.m-md-2.footer__partner(src="images/apple.png", alt="Exclusive partner of StyleShop")
            figcaption.sr-only Exclusive partners of StyleShop
      .col.col-12.col-md-6
        hr.d-md-none
        .row
          .col.col.col-12.col-md-6.col-lg-4
            nav.mb-3(role="navigation")
              h1.h5.text-break Address
              p.mb-0.text-break
                | Humber College (Lakeshore Campus)
                br
                | Toronto, Ontario
                br
                | M8V 4B6
                br
                a.link(href="tel:4164092721", target="_blank", rel="noreferrer noopener")
                  | 416.409.2721
                br
                a.link(href="mailto:tejpartapsingh91@gmail.com", target="_blank", rel="noreferrer noopener")
                  | tejpartapsingh91@gmail.com
          .col.col.col-12.col-md-6.col-lg-4
            nav.mb-3(role="navigation")
              h1.h5.text-break Services
              a.link(href="/web-design.html", rel="noreferrer noopener")
                | Web Design
              br
              a.link(href="/web-development.html", rel="noreferrer noopener")
                | Web Development
              br
              a.link(href="/graphic-design.html", rel="noreferrer noopener")
                | Graphic Design
              br
              a.link(href="/web-hosting.html", rel="noreferrer noopener")
                | Web Hosting
              br
              a.link(href="/seo.html", rel="noreferrer noopener")
                | SEO
              br
              a.link(href="/marketing.html", rel="noreferrer noopener")
                | Marketing
          .col.col.col-12.col-md-6.col-lg-4
            nav(role="navigation")
              h1.h5.text-break Navigation
              a.link(href="/", rel="noreferrer noopener")
                | Home
              br
              a.link(href="/about.html", rel="noreferrer noopener")
                | About
              br
              a.link(href="/contact.html", rel="noreferrer noopener")
                | Contact
    .row
      .col.col-12
        hr.d-md-none
        nav.text-center.my-md-3(role="navigation")
          a.link.link--social.mx-2(href="https://facebook.com", target="_blank", rel="noreferrer noopener")
            i.fa.fa-facebook(aria-hidden="true")
            span.sr-only Facebook
          a.link.link--social.mx-2(href="https://plus.google.com", target="_blank", rel="noreferrer noopener")
            i.fa.fa-google-plus(aria-hidden="true")
            span.sr-only Google Plus
          a.link.link--social.mx-2(href="https://twitter.com", target="_blank", rel="noreferrer noopener")
            i.fa.fa-twitter(aria-hidden="true")
            span.sr-only Twitter
          a.link.link--social.mx-2(href="https://instagram.com", target="_blank", rel="noreferrer noopener")
            i.fa.fa-instagram(aria-hidden="true")
            span.sr-only Instagram
          a.link.link--social.mx-2(href="https://pinterest.com", target="_blank", rel="noreferrer noopener")
            i.fa.fa-pinterest(aria-hidden="true")
            span.sr-only Pinterest
          a.link.link--social.mx-2(href="https://linkedin.com", target="_blank", rel="noreferrer noopener")
            i.fa.fa-linkedin(aria-hidden="true")
            span.sr-only LinkedIn
    .row
      .col.col-12
        hr.d-md-none
        p.text-center.text-wrap.text-break.mb-0
          | &copy; Copyright
          span.current-year
          | &nbsp;StyleShop | All Rights Reserved
