section.bg-dark
  .row.no-gutters
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/400')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/401')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/402')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-8
      .d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3.bg-white
        p.h2
          em StyleShop has a proven track for developing successful web services, applications, designs, and campaigns for small to large clients, non-profit organizations from a variety of industries.
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/403')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/404')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/405')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/406')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/407')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/408')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project
    .col.col-12.col-sm-6.col-md-4
      .box.d-flex.flex-column.justify-content-center.align-items-center.h-100.p-3(style="background-image:url('https://placekitten.com/400/409')")
        h1.box__child.h4.text-white(role="heading") Project Name
        p.box__child
          span.badge.badge-primary.mx-1 Design
          span.badge.badge-secondary.mx-1 Web
          span.badge.badge-success.mx-1 SEO
        a.stretched-link.link(href="/project.html", rel="noreferrer noopener")
          span.sr-only View project