section.py-5
  .container
    h1.h2.mb-2.mb-md-3(role="heading") Services
    .row
      .col.col-12.col-sm-6
        article.mb-3.mb-md-5
          figure
            img.rounded(src="https://placekitten.com/200/120", alt="Web design picture")
            figcaption.sr-only Web design
          h1(role="heading").h5 Web design
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis dicta, iusto natus cupiditate saepe vel! Aut laboriosam laudantium officiis repudiandae est necessitatibus! Aliquam blanditiis eveniet voluptatum culpa? Totam, omnis atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque, modi, nam rerum repudiandae voluptatum accusamus at provident ad tenetur, consequatur sit optio neque quidem voluptatibus veritatis consectetur corporis corrupti?
          a.btn.btn-primary(href="/web-design.html", rel="noreferrer noopener")
            span.mr-2
              i.fa.fa-plus(aria-hidden="true")
            | Learn more
      .col.col-12.col-sm-6
        article.mb-3.mb-md-5
          figure
            img.rounded(src="https://placekitten.com/200/120", alt="Web development picture")
            figcaption.sr-only Web development
          h1(role="heading").h5 Web development
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis dicta, iusto natus cupiditate saepe vel! Aut laboriosam laudantium officiis repudiandae est necessitatibus! Aliquam blanditiis eveniet voluptatum culpa? Totam, omnis atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque, modi, nam rerum repudiandae voluptatum accusamus at provident ad tenetur, consequatur sit optio neque quidem voluptatibus veritatis consectetur corporis corrupti?
          a.btn.btn-primary(href="/web-development.html", rel="noreferrer noopener")
            span.mr-2
              i.fa.fa-plus(aria-hidden="true")
            | Learn more
      .col.col-12.col-sm-6
        article.mb-3.mb-md-5
          figure
            img.rounded(src="https://placekitten.com/200/120", alt="Graphic design picture")
            figcaption.sr-only Graphic design
          h1(role="heading").h5 Graphic design
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis dicta, iusto natus cupiditate saepe vel! Aut laboriosam laudantium officiis repudiandae est necessitatibus! Aliquam blanditiis eveniet voluptatum culpa? Totam, omnis atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque, modi, nam rerum repudiandae voluptatum accusamus at provident ad tenetur, consequatur sit optio neque quidem voluptatibus veritatis consectetur corporis corrupti?
          a.btn.btn-primary(href="/graphic-design.html", rel="noreferrer noopener")
            span.mr-2
              i.fa.fa-plus(aria-hidden="true")
            | Learn more
      .col.col-12.col-sm-6
        article.mb-3.mb-md-5
          figure
            img.rounded(src="https://placekitten.com/200/120", alt="SEO picture")
            figcaption.sr-only SEO
          h1(role="heading").h5 SEO
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis dicta, iusto natus cupiditate saepe vel! Aut laboriosam laudantium officiis repudiandae est necessitatibus! Aliquam blanditiis eveniet voluptatum culpa? Totam, omnis atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque, modi, nam rerum repudiandae voluptatum accusamus at provident ad tenetur, consequatur sit optio neque quidem voluptatibus veritatis consectetur corporis corrupti?
          a.btn.btn-primary(href="/seo.html", rel="noreferrer noopener")
            span.mr-2
              i.fa.fa-plus(aria-hidden="true")
            | Learn more
      .col.col-12.col-sm-6
        article.mb-3.mb-md-5
          figure
            img.rounded(src="https://placekitten.com/200/120", alt="Web Hosting picture")
            figcaption.sr-only Web Hosting
          h1(role="heading").h5 Web Hosting
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis dicta, iusto natus cupiditate saepe vel! Aut laboriosam laudantium officiis repudiandae est necessitatibus! Aliquam blanditiis eveniet voluptatum culpa? Totam, omnis atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque, modi, nam rerum repudiandae voluptatum accusamus at provident ad tenetur, consequatur sit optio neque quidem voluptatibus veritatis consectetur corporis corrupti?
          a.btn.btn-primary(href="/web-hosting.html", rel="noreferrer noopener")
            span.mr-2
              i.fa.fa-plus(aria-hidden="true")
            | Learn more
      .col.col-12.col-sm-6
        article
          figure
            img.rounded(src="https://placekitten.com/200/120", alt="Marketing picture")
            figcaption.sr-only Marketing
          h1(role="heading").h5 Marketing
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis dicta, iusto natus cupiditate saepe vel! Aut laboriosam laudantium officiis repudiandae est necessitatibus! Aliquam blanditiis eveniet voluptatum culpa? Totam, omnis atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque, modi, nam rerum repudiandae voluptatum accusamus at provident ad tenetur, consequatur sit optio neque quidem voluptatibus veritatis consectetur corporis corrupti?
          a.btn.btn-primary(href="/marketing.html", rel="noreferrer noopener")
            span.mr-2
              i.fa.fa-plus(aria-hidden="true")
            | Learn more