// 1. Media Queries

$mobile: "only screen and (max-width: 480px)";
$phablet: "only screen and (max-width: 768px)";
$tablet: "only screen and (max-width: 992px)";
$desktop: "only screen and (max-width: 1200px)";
$mobile__up: "only screen and (min-width: 480px)";
$phablet__up: "only screen and (min-width: 768px)";
$tablet__up: "only screen and (min-width: 992px)";
$desktop__up: "only screen and (min-width: 1200px)";

// Useful mixins: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/.

// 2. REM Font Sizes.

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// 3. Variables

// Font-sizes.

$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;

// Font-weights.

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 900;

// Colors.

$black: #000000;
$white: #FFFFFF;
$green: #2bca7f;
$grey: #999999;

// Colors init.

$color-primary: $green;

// 4. Selection Color in Browser - https://css-tricks.com/almanac/selectors/s/selection/

*::-moz-selection { color: $white; background-color: $black; }
*::selection { color: $white; background-color: $black; }

// 5. Font Awesome Icon Insertion

@mixin icon-before($content) {
  &::before {
    content: $content;
    font-family: "fontawesome";
  }
}
