.container {
  max-width: 100%;
}

@media screen and (min-width: 30rem) {
  .container {
    max-width: 20rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 40rem) {
  .container {
    max-width: 30rem;
  }
}

@media screen and (min-width: 60rem) {
  .container {
    max-width: 50rem;
  }
}

@media screen and (min-width: 80rem) {
  .container {
    max-width: 60rem;
  }
}
