html .m-0 {
  margin: 0;
}

html .m-1 {
  margin: var(--xs-rem);
}

html .m-2 {
  margin: var(--sm-rem);
}

html .m-3 {
  margin: var(--md-rem);
}

html .m-4 {
  margin: var(--lg-rem);
}

html .m-5 {
  margin: var(--xl-rem);
}

html .mr-1 {
  margin-right: var(--xs-rem);
}

html .mr-2 {
  margin-right: var(--sm-rem);
}

html .mr-3 {
  margin-right: var(--md-rem);
}

html .mr-4 {
  margin-right: var(--lg-rem);
}

html .mr-5 {
  margin-right: var(--xl-rem);
}

html .ml-1 {
  margin-left: var(--xs-rem);
}

html .ml-2 {
  margin-left: var(--sm-rem);
}

html .ml-3 {
  margin-left: var(--md-rem);
}

html .ml-4 {
  margin-left: var(--lg-rem);
}

html .ml-5 {
  margin-left: var(--xl-rem);
}

html .mt-1 {
  margin-top: var(--xs-rem);
}

html .mt-2 {
  margin-top: var(--sm-rem);
}

html .mt-3 {
  margin-top: var(--md-rem);
}

html .mt-4 {
  margin-top: var(--lg-rem);
}

html .mt-5 {
  margin-top: var(--xl-rem);
}

html .mb-1 {
  margin-bottom: var(--xs-rem);
}

html .mb-2 {
  margin-bottom: var(--sm-rem);
}

html .mb-3 {
  margin-bottom: var(--md-rem);
}

html .mb-4 {
  margin-bottom: var(--lg-rem);
}

html .mb-5 {
  margin-bottom: var(--xl-rem);
}

html .mx-1 {
  margin-left: var(--xs-rem);
  margin-right: var(--xs-rem);
}

html .mx-2 {
  margin-left: var(--sm-rem);
  margin-right: var(--sm-rem);
}

html .mx-3 {
  margin-left: var(--md-rem);
  margin-right: var(--md-rem);
}

html .mx-4 {
  margin-left: var(--lg-rem);
  margin-right: var(--lg-rem);
}

html .mx-5 {
  margin-left: var(--xl-rem);
  margin-right: var(--xl-rem);
}

html .my-1 {
  margin-top: var(--xs-rem);
  margin-bottom: var(--xs-rem);
}

html .my-2 {
  margin-top: var(--sm-rem);
  margin-bottom: var(--sm-rem);
}

html .my-3 {
  margin-top: var(--md-rem);
  margin-bottom: var(--md-rem);
}

html .my-4 {
  margin-top: var(--lg-rem);
  margin-bottom: var(--lg-rem);
}

html .my-5 {
  margin-top: var(--xl-rem);
  margin-bottom: var(--xl-rem);
}

html .mx-0 {
  margin-left: 0;
  margin-right: 0;
}

html .my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

html .mx-auto {
  margin-top: auto;
  margin-bottom: auto;
}

html .my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 30rem) {
  html .m-sm-0 {
    margin: 0;
  }

  html .m-sm-1 {
    margin: var(--xs-rem);
  }

  html .m-sm-2 {
    margin: var(--sm-rem);
  }

  html .m-sm-3 {
    margin: var(--md-rem);
  }

  html .m-sm-4 {
    margin: var(--lg-rem);
  }

  html .m-sm-5 {
    margin: var(--xl-rem);
  }

  html .mr-sm-1 {
    margin-right: var(--xs-rem);
  }

  html .mr-sm-2 {
    margin-right: var(--sm-rem);
  }

  html .mr-sm-3 {
    margin-right: var(--md-rem);
  }

  html .mr-sm-4 {
    margin-right: var(--lg-rem);
  }

  html .mr-sm-5 {
    margin-right: var(--xl-rem);
  }

  html .ml-sm-1 {
    margin-left: var(--xs-rem);
  }

  html .ml-sm-2 {
    margin-left: var(--sm-rem);
  }

  html .ml-sm-3 {
    margin-left: var(--md-rem);
  }

  html .ml-sm-4 {
    margin-left: var(--lg-rem);
  }

  html .ml-sm-5 {
    margin-left: var(--xl-rem);
  }

  html .mt-sm-1 {
    margin-top: var(--xs-rem);
  }

  html .mt-sm-2 {
    margin-top: var(--sm-rem);
  }

  html .mt-sm-3 {
    margin-top: var(--md-rem);
  }

  html .mt-sm-4 {
    margin-top: var(--lg-rem);
  }

  html .mt-sm-5 {
    margin-top: var(--xl-rem);
  }

  html .mb-sm-1 {
    margin-bottom: var(--xs-rem);
  }

  html .mb-sm-2 {
    margin-bottom: var(--sm-rem);
  }

  html .mb-sm-3 {
    margin-bottom: var(--md-rem);
  }

  html .mb-sm-4 {
    margin-bottom: var(--lg-rem);
  }

  html .mb-sm-5 {
    margin-bottom: var(--xl-rem);
  }

  html .mx-sm-1 {
    margin-left: var(--xs-rem);
    margin-right: var(--xs-rem);
  }

  html .mx-sm-2 {
    margin-left: var(--sm-rem);
    margin-right: var(--sm-rem);
  }

  html .mx-sm-3 {
    margin-left: var(--md-rem);
    margin-right: var(--md-rem);
  }

  html .mx-sm-4 {
    margin-left: var(--lg-rem);
    margin-right: var(--lg-rem);
  }

  html .mx-sm-5 {
    margin-left: var(--xl-rem);
    margin-right: var(--xl-rem);
  }

  html .my-sm-1 {
    margin-top: var(--xs-rem);
    margin-bottom: var(--xs-rem);
  }

  html .my-sm-2 {
    margin-top: var(--sm-rem);
    margin-bottom: var(--sm-rem);
  }

  html .my-sm-3 {
    margin-top: var(--md-rem);
    margin-bottom: var(--md-rem);
  }

  html .my-sm-4 {
    margin-top: var(--lg-rem);
    margin-bottom: var(--lg-rem);
  }

  html .my-sm-5 {
    margin-top: var(--xl-rem);
    margin-bottom: var(--xl-rem);
  }

  html .mx-sm-0 {
    margin-left: 0;
    margin-right: 0;
  }

  html .my-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  html .mx-sm-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  html .my-sm-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 40rem) {
  html .m-md-0 {
    margin: 0;
  }

  html .m-md-1 {
    margin: var(--xs-rem);
  }

  html .m-md-2 {
    margin: var(--sm-rem);
  }

  html .m-md-3 {
    margin: var(--md-rem);
  }

  html .m-md-4 {
    margin: var(--lg-rem);
  }

  html .m-md-5 {
    margin: var(--xl-rem);
  }

  html .mr-md-1 {
    margin-right: var(--xs-rem);
  }

  html .mr-md-2 {
    margin-right: var(--sm-rem);
  }

  html .mr-md-3 {
    margin-right: var(--md-rem);
  }

  html .mr-md-4 {
    margin-right: var(--lg-rem);
  }

  html .mr-md-5 {
    margin-right: var(--xl-rem);
  }

  html .ml-md-1 {
    margin-left: var(--xs-rem);
  }

  html .ml-md-2 {
    margin-left: var(--sm-rem);
  }

  html .ml-md-3 {
    margin-left: var(--md-rem);
  }

  html .ml-md-4 {
    margin-left: var(--lg-rem);
  }

  html .ml-md-5 {
    margin-left: var(--xl-rem);
  }

  html .mt-md-1 {
    margin-top: var(--xs-rem);
  }

  html .mt-md-2 {
    margin-top: var(--sm-rem);
  }

  html .mt-md-3 {
    margin-top: var(--md-rem);
  }

  html .mt-md-4 {
    margin-top: var(--lg-rem);
  }

  html .mt-md-5 {
    margin-top: var(--xl-rem);
  }

  html .mb-md-1 {
    margin-bottom: var(--xs-rem);
  }

  html .mb-md-2 {
    margin-bottom: var(--sm-rem);
  }

  html .mb-md-3 {
    margin-bottom: var(--md-rem);
  }

  html .mb-md-4 {
    margin-bottom: var(--lg-rem);
  }

  html .mb-md-5 {
    margin-bottom: var(--xl-rem);
  }

  html .mx-md-1 {
    margin-left: var(--xs-rem);
    margin-right: var(--xs-rem);
  }

  html .mx-md-2 {
    margin-left: var(--sm-rem);
    margin-right: var(--sm-rem);
  }

  html .mx-md-3 {
    margin-left: var(--md-rem);
    margin-right: var(--md-rem);
  }

  html .mx-md-4 {
    margin-left: var(--lg-rem);
    margin-right: var(--lg-rem);
  }

  html .mx-md-5 {
    margin-left: var(--xl-rem);
    margin-right: var(--xl-rem);
  }

  html .my-md-1 {
    margin-top: var(--xs-rem);
    margin-bottom: var(--xs-rem);
  }

  html .my-md-2 {
    margin-top: var(--sm-rem);
    margin-bottom: var(--sm-rem);
  }

  html .my-md-3 {
    margin-top: var(--md-rem);
    margin-bottom: var(--md-rem);
  }

  html .my-md-4 {
    margin-top: var(--lg-rem);
    margin-bottom: var(--lg-rem);
  }

  html .my-md-5 {
    margin-top: var(--xl-rem);
    margin-bottom: var(--xl-rem);
  }

  html .mx-md-0 {
    margin-left: 0;
    margin-right: 0;
  }

  html .my-md-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  html .mx-md-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  html .my-md-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 60rem) {
  html .m-lg-0 {
    margin: 0;
  }

  html .m-lg-1 {
    margin: var(--xs-rem);
  }

  html .m-lg-2 {
    margin: var(--sm-rem);
  }

  html .m-lg-3 {
    margin: var(--md-rem);
  }

  html .m-lg-4 {
    margin: var(--lg-rem);
  }

  html .m-lg-5 {
    margin: var(--xl-rem);
  }

  html .mr-lg-1 {
    margin-right: var(--xs-rem);
  }

  html .mr-lg-2 {
    margin-right: var(--sm-rem);
  }

  html .mr-lg-3 {
    margin-right: var(--md-rem);
  }

  html .mr-lg-4 {
    margin-right: var(--lg-rem);
  }

  html .mr-lg-5 {
    margin-right: var(--xl-rem);
  }

  html .ml-lg-1 {
    margin-left: var(--xs-rem);
  }

  html .ml-lg-2 {
    margin-left: var(--sm-rem);
  }

  html .ml-lg-3 {
    margin-left: var(--md-rem);
  }

  html .ml-lg-4 {
    margin-left: var(--lg-rem);
  }

  html .ml-lg-5 {
    margin-left: var(--xl-rem);
  }

  html .mt-lg-1 {
    margin-top: var(--xs-rem);
  }

  html .mt-lg-2 {
    margin-top: var(--sm-rem);
  }

  html .mt-lg-3 {
    margin-top: var(--md-rem);
  }

  html .mt-lg-4 {
    margin-top: var(--lg-rem);
  }

  html .mt-lg-5 {
    margin-top: var(--xl-rem);
  }

  html .mb-lg-1 {
    margin-bottom: var(--xs-rem);
  }

  html .mb-lg-2 {
    margin-bottom: var(--sm-rem);
  }

  html .mb-lg-3 {
    margin-bottom: var(--md-rem);
  }

  html .mb-lg-4 {
    margin-bottom: var(--lg-rem);
  }

  html .mb-lg-5 {
    margin-bottom: var(--xl-rem);
  }

  html .mx-lg-1 {
    margin-left: var(--xs-rem);
    margin-right: var(--xs-rem);
  }

  html .mx-lg-2 {
    margin-left: var(--sm-rem);
    margin-right: var(--sm-rem);
  }

  html .mx-lg-3 {
    margin-left: var(--md-rem);
    margin-right: var(--md-rem);
  }

  html .mx-lg-4 {
    margin-left: var(--lg-rem);
    margin-right: var(--lg-rem);
  }

  html .mx-lg-5 {
    margin-left: var(--xl-rem);
    margin-right: var(--xl-rem);
  }

  html .my-lg-1 {
    margin-top: var(--xs-rem);
    margin-bottom: var(--xs-rem);
  }

  html .my-lg-2 {
    margin-top: var(--sm-rem);
    margin-bottom: var(--sm-rem);
  }

  html .my-lg-3 {
    margin-top: var(--md-rem);
    margin-bottom: var(--md-rem);
  }

  html .my-lg-4 {
    margin-top: var(--lg-rem);
    margin-bottom: var(--lg-rem);
  }

  html .my-lg-5 {
    margin-top: var(--xl-rem);
    margin-bottom: var(--xl-rem);
  }

  html .mx-lg-0 {
    margin-left: 0;
    margin-right: 0;
  }

  html .my-lg-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  html .mx-lg-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  html .my-lg-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 70rem) {
  html .m-xl-0 {
    margin: 0;
  }

  html .m-xl-1 {
    margin: var(--xs-rem);
  }

  html .m-xl-2 {
    margin: var(--sm-rem);
  }

  html .m-xl-3 {
    margin: var(--md-rem);
  }

  html .m-xl-4 {
    margin: var(--lg-rem);
  }

  html .m-xl-5 {
    margin: var(--xl-rem);
  }

  html .mr-xl-1 {
    margin-right: var(--xs-rem);
  }

  html .mr-xl-2 {
    margin-right: var(--sm-rem);
  }

  html .mr-xl-3 {
    margin-right: var(--md-rem);
  }

  html .mr-xl-4 {
    margin-right: var(--lg-rem);
  }

  html .mr-xl-5 {
    margin-right: var(--xl-rem);
  }

  html .ml-xl-1 {
    margin-left: var(--xs-rem);
  }

  html .ml-xl-2 {
    margin-left: var(--sm-rem);
  }

  html .ml-xl-3 {
    margin-left: var(--md-rem);
  }

  html .ml-xl-4 {
    margin-left: var(--lg-rem);
  }

  html .ml-xl-5 {
    margin-left: var(--xl-rem);
  }

  html .mt-xl-1 {
    margin-top: var(--xs-rem);
  }

  html .mt-xl-2 {
    margin-top: var(--sm-rem);
  }

  html .mt-xl-3 {
    margin-top: var(--md-rem);
  }

  html .mt-xl-4 {
    margin-top: var(--lg-rem);
  }

  html .mt-xl-5 {
    margin-top: var(--xl-rem);
  }

  html .mb-xl-1 {
    margin-bottom: var(--xs-rem);
  }

  html .mb-xl-2 {
    margin-bottom: var(--sm-rem);
  }

  html .mb-xl-3 {
    margin-bottom: var(--md-rem);
  }

  html .mb-xl-4 {
    margin-bottom: var(--lg-rem);
  }

  html .mb-xl-5 {
    margin-bottom: var(--xl-rem);
  }

  html .mx-xl-1 {
    margin-left: var(--xs-rem);
    margin-right: var(--xs-rem);
  }

  html .mx-xl-2 {
    margin-left: var(--sm-rem);
    margin-right: var(--sm-rem);
  }

  html .mx-xl-3 {
    margin-left: var(--md-rem);
    margin-right: var(--md-rem);
  }

  html .mx-xl-4 {
    margin-left: var(--lg-rem);
    margin-right: var(--lg-rem);
  }

  html .mx-xl-5 {
    margin-left: var(--xl-rem);
    margin-right: var(--xl-rem);
  }

  html .my-xl-1 {
    margin-top: var(--xs-rem);
    margin-bottom: var(--xs-rem);
  }

  html .my-xl-2 {
    margin-top: var(--sm-rem);
    margin-bottom: var(--sm-rem);
  }

  html .my-xl-3 {
    margin-top: var(--md-rem);
    margin-bottom: var(--md-rem);
  }

  html .my-xl-4 {
    margin-top: var(--lg-rem);
    margin-bottom: var(--lg-rem);
  }

  html .my-xl-5 {
    margin-top: var(--xl-rem);
    margin-bottom: var(--xl-rem);
  }

  html .mx-xl-0 {
    margin-left: 0;
    margin-right: 0;
  }

  html .my-xl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  html .mx-xl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  html .my-xl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}
