.sr-only {
  position: absolute;
  width: var(--one-pixel);
  height: var(--one-pixel);
  padding: 0;
  margin: -var(--one-pixel);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
